<body style="background-color: #8b9dc3; height: 100vh">
    <div class="container">
        <div class="row">
            <!--3coloumns -->
     <div class="col-lg-4"></div>
     <div class="col-lg-4">
         <!--form start-->
         <div class="jumbotron" style="margin-top:150px">
                <h3 class="text-info" style="text-align: center">Please Login</h3><br>
             <form [formGroup]="frmAdminLogin">
                 <div class="form-group">
                   <input type="email" formControlName="userName" class="form-control"  placeholder="username" required />
                   <div style="color:rebeccapurple" *ngIf="frmAdminLogin.controls['userName'].invalid
                   && (frmAdminLogin.controls['userName'].touched) || 
                   frmAdminLogin.controls['userName'].dirty">
                   <div *ngIf="frmAdminLogin.controls['userName'].hasError('required')">Enter Username</div>
                </div>
              </div>
               <div class="form-group">
                    <input type="password" formControlName="passWord"  class="form-control" placeholder="password" required/>
                    <div style="color:rebeccapurple" *ngIf="frmAdminLogin.controls['passWord'].invalid
                    && (frmAdminLogin.controls['passWord'].touched) || 
                    frmAdminLogin.controls['passWord'].dirty">
                    <div *ngIf="frmAdminLogin.controls['passWord'].hasError('required')">Enter Password</div>
                 </div>
              </div>
               <div class="check-box">
                   <label><input type="checkbox" /> remember me</label>
               </div>
               <div class='form-group'>
                   <button class="btn btn-primary form-control" type="submit">Login</button>
               </div>
             </form>
         </div>
        </div>
        <div class="col-lg-4"></div> 
    </div>
    </div>
  </body>